.mainPage {

  &Link {
    background: #000;
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
  } 

  .cardLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}